
<h1><%= @cocktail.name %></h1>
<div class="container-show">


    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <ul>
    <% @cocktail.doses.each do |dose| %>


    <h3>Details</h3>
      <li><%= dose.description %> <%= dose.ingredient.name %> <%= link_to "Remove",
        dose_path(dose),
        method: :delete, data: { confirm: "Are you sure?" }, class: " text-decoration-none" %></li>
    <% end %>
      <%= link_to "Add dose", new_cocktail_dose_path(@cocktail)%>
  </ul>

</div>