
<div class="container-show">
  <div class="image">
    <%= cl_image_tag @cocktail.photo.key, height: 500, width: 600, crop: :fill %>
    <p>Here goes a review</p>
    </div>
    <div class="cocktail-text">
      <div class="cocktail-description">
        <h1><%= @cocktail.name %></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde enim velit cum quisquam natus perspiciatis quidem porro ad dolorum? Velit fugit earum neque ullam beatae eaque officiis, repellat maxime?</p>
      </div>
      <div class="cocktail-ingredients">
          <h4>Ingredients</h4>
          <div class="ingredients-box">
            <ul>
              <% @cocktail.doses.each do |dose| %>
              <div class="ingredient-description">
                <li><%= dose.description %> <%= dose.ingredient.name %> </li>
                  <%= link_to "delete",
                    dose_path(dose),
                    method: :delete, data: { confirm: "Are you sure?" }, class: "btn-remove" %></li>
              </div>
              <% end %>
                <%= link_to "", new_cocktail_dose_path(@cocktail), class: "fas fa-plus"%>
            </ul>

          </div>
      </div>
      <div class="cocktail-preparation">
        <h5>Preparation</h5>
        <p>preparation text description</p>
      </div>
  </div>
</div>